* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Main Font";
    src: url('../fonts/DK Butterfly Ball.otf');
}

html {
    background-color: #e9ecef;
    font-family: "Main Font";
}

header {
    background: linear-gradient(175deg, #72C3FC 0%, #72C3FC 50%, #4DADF7 51%,#4DADF7 100%);
    line-height: 120px;
    height: 120px;
    box-shadow: 0 0 25px 0 #CCC;
    color: #FFF;
    text-align: center;
    border-bottom: 1px solid #FFF;
}

main {
    padding: 15px;
}

body {
    font-size: 26px;
}

body *::first-letter {
    font-size: 1.5em;
}

h2 {
    padding-bottom: 10px;
    border-bottom: 1px solid #CCC;
    color: #0099CC;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: #E1921A;
}

#app {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

#app > aside, #app > section {
    border: 1px solid #CCC;
    box-shadow: 0 0 25px 0 #CCC;
    background-color: #FFF;
}

#app > aside {
    width: 20%;
}

#app > section {
    width: 75%;
    text-align: center;
}

#app h2 {
    text-align: center;
    margin: 20px;
}

#main-nav {
    margin-top: 20px;
    padding: 10px 20px;
}

#main-nav ul li {
    list-style: none;
    margin-bottom: 10px;
}

button, .btn-like {
    padding: 15px 25px;
    margin: 20px auto;
    background-color: #0099CC;
    border: 1px solid #000;
    cursor: pointer;
    box-shadow: 0 0 25px 0 #CCC;
    border-radius: 10px;
    color: #FFF;
    font-family: "Main Font";
}

input {
    padding: 15px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 0 25px 0 #CCC;
}

/* HOME */

.home-view {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

.learning-link {
    border-right: 1px solid #CCC;
}

.home-view > * {
    width: 49%;
    display: flex;
    flex-flow: column;
}

.home-view > * > p {
    margin: 20px;
    flex: 1;
}

/* GAMES */

#formula {
    margin-bottom: 20px;
}

#propositions {
    margin: 20px 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

#propositions li {
    display: inline;
    border-radius: 15px;
    margin: 10px 3px;
    padding: 20px 0;
    width: 15%;
    background-color: #0099CC;
    box-shadow: 0 0 25px 0 #CCC;
    color: #FFF;
    cursor: pointer;
    border: 2px solid #000;
}

.answer {
    font-size: 2em;
}

.good {
    color: #2f9e44;
}

.wrong {
    color: #e03131;
}
