<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Jeux éducatifs</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
</head>
<body>
    <header>
        <h1>Jeux éducatifs</h1>
    </header>
    <main>
        <div id="app"> 
            <aside>
                <h2>Modes de jeu</h2>
                <nav id="main-nav">
                    <ul>
                        <li>    
                            <router-link :to="{ name: 'home' }">Accueil</router-link>
                        </li>
                        <li>
                            <router-link :to="{ name: 'learning' }">Apprentissage</router-link>
                        </li>
                        <li>
                            <router-link :to="{ name: 'evaluation' }">Évaluation</router-link>
                        </li>
                    </ul>
                </nav>
            </aside>
            <router-view></router-view>
        </div>
    </main>
    
    <!--Templates-->
    <script id="home-template" type="text/x-template">
<section>
    <h2>Accueil</h2>
    <div class="home-view">
        <div class="learning-link">
            <p>
                Entraine-toi et deviens le meilleur !
            </p>
            <br />
            <router-link :to="{ name: 'learning' }">Apprentissage</router-link>
        </div>
        <div class="evaluation-link">
            <p>
                Montre ce que tu sais faire, et évalue-toi !
            </p>
            <br />
            <router-link :to="{ name: 'evaluation' }">Évaluation</router-link>
        </div>
    </div>
</section>
    </script>
     <script id="apprentice-template" type="text/x-template">
<section>
    <h2>Apprentissage</h2>
    <div id="apprentice-module">
    	<div id="selection-part">
     	 	<label>Sélection de la Table courante : </label>
			 <input type="number" v-model="store.currentTable" name="currentTable" />
			 <button @click="initGameAM">Lancer le jeu !</button>
     	</div>
    	<apprentice-part @event="verifyingResult"></apprentice-part>
    </div>
</section>
	</script>
     <script id="apprenticePart" type="text/x-template">
     <div>
     
		 <div id="apprentice-block" v-if="store.displayAM">
		  <span> Numéro de la question : {{ store.questionNumber }} </span>
		 	<h1>Mode Apprentissage : Table de {{ store.currentTable }}</h1>
		 	<div id="formula">
		 		{{ store.currentOperand }} *  {{ store.currentTable }} =
		 	</div>
		 	
		 	<div id="resultDisplay">
		 		<ul id="propositions">
		 			<li v-for="result in possibleResults" @click.prevent="$emit('event', result)"> {{ result }}</li>
		 		</ul>
		 		<span>{{ store.succeed }}<br/></span>
		 		<span> <br> Temps du chrono : {{ store.displayIntermediateTime }}</span>
		 		<span v-if="store.succeed===true" class="answer good">Bonne réponse !!!! t'es un champion !</span>
		 		<span v-if="store.succeed===false" class="answer wrong">Mauvaise réponse ! Essaie encore une fois !</span>
		 	</div>

		</div> 
		<div id="winner" v-if="store.win===true"><h1>Félicitations ! tu viens de terminer le jeu, tente ta chance avec une nouvelle table!!</h1>
		<h2>Ton score : {{ store.statsAnswer }} % de bonnes réponses...</h2>
		<h3> voici ton temps : chrono global : {{ store.displayGlobalTime }} <br> temps global en seconde : {{ store.globalTimeResult }}</h3>
			<div id="medal">
				<img v-if="store.goldStar===true" src="images/goldStar.png"/>
				<img v-if="store.silverStar===true" src="images/silverStar.png"/>
				<img v-if="store.bronzeStar===true" src="images/bronzeStar.png"/>
			</div>
		</div>

	</div>
	</script>
    <script id="evaluation-template" type="text/x-template">
<section>
    <h2>Évaluation</h2>
    <div>

    </div>
</section>
    </script>
    <script src="js/libs/vue/dist/vue.js"></script>
    <script src="js/libs/vue-router/dist/vue-router.js"></script>
    <script src="js/source.js"></script>
    <script src="js/games.js"></script>
</body>
</html>
