<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title></title>
    
</head>
<body>
    <div id="app">
    	{{$data}} 
    	<div id="selection-part">
    	<h1 @click="randomTable">test</h1>
     	 	<label>Sélection de la Table courante : </label>
			 <input type="number" v-model="currentTable" name="currentTable" />
			 <button @click="initGame">Lancer le jeu !</button>
     	</div>


    	<apprentice-part @event="verifyingResult"></apprentice-part>

    </div>

    <!--Templates-->
     <script id="apprenticePart" type="text/x-template">
     <div>
		 <div id="apprentice-block" v-if="store.display">
		  <span> Numéro de la question : {{ store.questionNumber }} </span>
		 	<h1>Mode Apprentissage : Table de {{ store.currentTable }}</h1>
		 	<div id="formula">
		 		{{ store.currentOperand }} *  {{ store.currentTable }} =
		 	</div>
		 	
		 	<div id="resultDisplay">
		 		<ul>
		 			<li v-for="result in possibleResults" @click.prevent="$emit('event', result)"> {{ result }}</li>
		 		</ul>
		 		<span>{{ store.succeed }}<br/></span>
		 		<span> <br> Temps du chrono : {{ store.displayIntermediateTime }}</span>
		 		<span v-if="store.succeed===true">Bonne réponse !!!! t'es un champion !</span>
		 		<span v-if="store.succeed===false">Mauvaise réponse ! Essaie encore une fois !</span>
		 	</div>

		</div> 
		<div id="winner" v-if="store.win===true"><h1>Félicitation ! tu viens de terminer le jeu, tente ta chance avec une nouvelle table!!</h1>
		<h2>Ton score : {{ store.statsAnswer }} % de bonnes réponses...</h2>
		<h3> voici ton temps : chrono global : {{ store.displayGlobalTime }} <br> temps global en seconde : {{ store.globalTimeResult }}</h3>
			<div id="medal">
				<img v-if="store.goldStar===true" src="images/goldStar.png"/>
				<img v-if="store.silverStar===true" src="images/silverStar.png"/>
				<img v-if="store.bronzeStar===true" src="images/bronzeStar.png"/>
			</div>
		</div>

	</div>
	</script>
  <script src="js/libs/vue/dist/vue.js"></script>
  <script src="js/libs/vue-resource/dist/vue-resource.js"></script>
   <script src="js/source.js"></script>
  <script src="js/app.js"></script>

</body>
</html>
